# Git-only ignores (module dev workflow)
/.github/prompts/

/.github/devFolder/about-time-nextPostTemplates/
/.github/devFolder/console-logs/
/.github/devFolder/foundryvtt-simple-calendar-reborn
/.github/devFolder/wgtgm-mini-calendar
/.github/devFolder/referenceDocs/

/.github/devFolder/posts/discordReleasePosts.md
/.github/devFolder/posts/patreonPosts.md

/tools
